* {
  color: rgb(81, 0, 255);
}

h1 {
  color: brown;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}
/* this is a comment */
h2 {
  color: coral;
}

/* My css color specification
My brand color: brown
my font needs to be lora */

p {
  color: black;
}

span {
  color: rgb(255, 127, 246);
}

.my-colors {
  color: darkgreen;
}

#name {
  color: darkred;
  font-size: 1.5rem;
}

#venue {
  color: darkviolet;
}

[data-email="email"] {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

ul > li {
  color: gold;
}

li > strong {
  color: cornflowerblue;
}

body {
  text-align: center;
  border: 3px dotted red;
}

p {
  line-height: 1.5;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  padding: 10;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ojuju {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}
